---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro Tutorial.">
	<header>
		<a href="/">Home</a>
		<a href="/about/">About</a>
		<a href="/blog/">Blog</a>
	</header>
	
	<main>
		<h1>About Me</h1>
    <p>I'm studying the beginner tutorial of Astro. This is the second page on my website, and also the first page I build myself.</p>
		<p>As I compelete more tutorial, the site will be updated, so please continue to check out how my journey will progress!</p>
	</main>
</Layout>
