---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro Tutorial.">
	<header>
		<a href="/">Home</a>
		<a href="/about/">About</a>
		<a href="/blog/">Blog</a>
	</header>
	
	<main>
		<h1>Blog</h1>
	</main>
</Layout>
