---
import Layout from '../layouts/Layout.astro';

const pageTitle = 'Blog';
---

<Layout title={pageTitle}>
	<header>
		<a href="/">Home</a>
		<a href="/about/">About</a>
		<a href="/blog/">Blog</a>
	</header>
	
	<main>
		<h1>{pageTitle}</h1>

		<ul>
      <li><a href="/posts/post-1/">文章 1</a></li>
			<li><a href="/posts/post-2/">文章 2</a></li>
      <li><a href="/posts/post-3/">文章 3</a></li>
    </ul>
	</main>
</Layout>
