---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro Tutorial.">
	<header>
		<a href="/">Home</a>
		<a href="/about/">About</a>
		<a href="/blog/">Blog</a>
	</header>

	<main>
		<h1>Welcome to Astro 欢迎来到 Astro</h1>
	</main>
</Layout>
